.card{
    flex: 1 200px;
    border-radius: 10px;
    -webkit-box-shadow: 1px 0px 8px 3px rgba(34, 60, 80, 0.2);
    -moz-box-shadow: 1px 0px 8px 3px rgba(34, 60, 80, 0.2);
    box-shadow: 1px 0px 8px 3px rgba(34, 60, 80, 0.2);
}